/*
 * Overall page division
 */

body {
	margin: 0px;
}

#content {
	width: 100vw;
	height: calc(100vh - 64px);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(0,0,0,0);
}

#map-container {
	width: 0;
	height: 100%;
}

#leaderboard-container {
	width: 35vw;
	height: 85%;

	left: 65vw;
	position: absolute;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*
 * Navbar styles
 */

#nav-bar {
	width: 100vw;
	height: 64px;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	background-color: #010449;
}

#fyt-logo {
	margin-left: 18px;
}

/*
 * Map styles\
 */

#leaflet-background-map {
	width: 100vw;
	height: calc(100vh - 64px);

	position: absolute;
	z-index: 0;
}

.leaflet-container {
	height: 100%;
	width: 100%;
}

.leaflet-popup-content {
	margin: 0;
}

.leaflet-popup-content-wrapper {
	padding: 0px;
}

.stage-popup {
	margin: 8px 24px;
	color: white;
}

.map-popup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;

	border-radius: 12px;
	background-color: #010449;
	font-size: 12px;
	font-weight: 700;
}

.map-popup-image {
	height: 52px;
	width: 52px;

	border-radius: 12px 0 0 12px;
}

.map-popup-stage-name {
	display: inline-block;
	margin-left: 8px;
	margin-top: 4px;
	padding: 1px 4px 1px 4px;
	border: 2px solid #1745FB;
	color: white;
}

.map-popup-totem-name {
	margin-left: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 8px;
	color: #FB30FB;
}

.map-popup-totem-divider {
	color: white;
}

.map-popup-timestamp {
	color: #62F6DC;
}

/*
 * Deeplens window
 */
 #deeplens-window {
 	width: 90%;
 	height: 55%;
 }

/*
 * Leaderboard styles
 */

#leaderboard {
	width: 90%;
	min-height: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	font-family: "Avenir Next", "Avenir", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border-radius: 12px;
	/*background-color: #F5F7F9;*/
	/*box-shadow: 0px 1px 15px 2px #020449;*/
}

#leaderboard-title {
	font-size: 18pt;

	margin-top: 16px;

	color: #62F6DC;
	font-weight: bold;
}

#leaderboard ol {
	width: 90%;
	height: 90%;
	max-height: 90%;
	overflow: auto;
}

#leaderboard li {
	width: 90%;
	height: 72px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 8px 8px;
	padding-left: 16px;

	border-radius: 36px;
	background-color: #ffffff;
	box-shadow: 0px 1px 15px rgba(2,4,73,0.6);
}

#leaderboard li .leaderboard-item-image {
	width: 48px;
	height: 48px;

	border-radius: 24px;
  /* temporary */
	background-color: #010449;
}

#leaderboard li .leaderboard-item-data {
	width: calc(100% - 100px);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 12px;
}

#leaderboard li .leaderboard-item-data-name {
	margin: 4px 0 0 0;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

#leaderboard li .leaderboard-item-data-scores {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	color: #1745FB;
}

#leaderboard li .leaderboard-item-data-scores-stage {
	margin: 0 16px 0 0;
	padding: 0;

	font-size: 8px;
	line-height: 12px;
	font-weight: 700;
	border-bottom: 1px solid #1745FB;
}

#leaderboard .leaderboard-item-key {
	font-weight: bolder;
	color: white;
}